<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DressUp</title>
    <link rel="stylesheet" href="App.css">
</head>
<body>
    <div class="App">
        <div class="title">CHARACTER</div>
        <div class="subtitle">CUSTOMIZATION</div>
        <div class="underline"></div>
        <div class="custom-section">
            <div class="avatar-wrapper">
                <div class="avatar">
                    <img src="/public/images/body/1.png" alt="" width="260">
                    <img src="/character/eyes/1.png" alt="" width="260">
                    <img src="/character/hair/1.png" alt="" width="260">
                    <img src="/character/clothes/layer_1/1.png" alt="" width="260">
                    <img src="/character/clothes/layer_2/1.png" alt="" width="260">
                    <img src="/character/clothes/layer_3/1.png" alt="" width="260">
                    <img src="/character/mouths/1.png" alt="" width="260">
                    <img src="/character/noses/1.png" alt="" width="260">
                    <img src="/character/eyebrows/1.png" alt="" width="260">
                    <img src="/character/accessories/glasses/1.png" alt="" width="260">
                </div>
                <div class="text-center"><button class="button">Randomize!</button></div>
            </div>
            <div class="">
                <div class="items-menu">
                    <h3>Body</h3>
                    <div class="items-wrapper">
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>   
                    </div>   
                </div>
                <div class="items-menu">
                    <h3>Body</h3>
                    <div class="items-wrapper">
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>  
                    </div>   
                </div>
                <div class="items-menu">
                    <h3>Body</h3>
                    <div class="items-wrapper">
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>  
                    </div>   
                </div>
                <div class="items-menu">
                    <h3>Body</h3>
                    <div class="items-wrapper">
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>
                        <div class="item"><img src="/character/body/10.png" alt=""></div>  
                    </div>   
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>